<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>修改密码</title>
    <style>
        form{
            padding:200px 200px;
        }
        input{
            width:40%;
            height:30px;
            border-radius: 14px;
            margin:20px 0px;
            outline: none;
        }
        .inp{
            text-align: center;
        }
    </style>
</head>
<body>
<div>
    <form>
        <div class="inp" style="text-align: center">
            <lable>初用户名：</lable>
            <input name="username">
        </div>
        <div class="inp">
            <lable>注册邮箱：</lable>
            <input name="email">
        </div>
        <div class="bu—div" style="text-align: center">
            <button type="submit" class="btn" style="border-radius: 10px;outline: none">下一步</button>
        </div>
    </form>
</div>
</body>
</html>