<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>主面板</title>
    <link rel="stylesheet" href="/static/dist/css/bootstrap.min.css">
    <style>
        .test_div{
            margin:0;padding:0;border:0
        }
        html,body{height:70%;overflow:hidden;margin:0;padding:0;border:0;}
    </style>
</head>
<body >
<div  class = "test_div" style="background-color:blue;height:100%" >

<div  style="background-color:red;margin:0;padding:0;border:0;" >
<h1 class = "test_div">用户名，搜索框</h1></div>

<div id="menu" style="background-color:#FFD700;height:200px;width:15%;float:left;" height="1000px">
<b>菜单</b><br>
HTML<br>
CSS<br>
JavaScript</div>

<div id="abridge" style="background-color:#EEEEEE;height:200px;width:15%;float:left;">
缩略图</div>
<div id="content" style="background-color:#E3E3EE;height:200px;width:70%;float:left;">
内容在这里</div>


</div>
</body>
</html>